body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #666;
    line-height: 1.6;
    font-size: 16px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: #222;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
    font-weight: bold;
    color: #222;
}

h4,
h5,
h6 {
    font-weight: 600;
}

.form-control {
    background-color: #fff !important;
    font-size: 13px;
    min-height: 40px;
}

textarea.form-control {
    height: 100px;
}

.fadeUp {
    opacity: 0;
    -webkit-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    transform: translate(0, 50px);
}

.fadeUp.in-view {
    opacity: 1;
    transform: translateX(0) translateY(0) translateZ(0);
    transition: opacity 1.5s ease 0s, transform 1.5s ease 0s;
}

.fadeLeft {
    opacity: 0;
    -webkit-transform: translate(-50px, 0);
    -ms-transform: translate(-50px, 0);
    transform: translate(-50px, 0);
}

.fadeLeft.in-view {
    opacity: 1;
    transform: translateX(0) translateY(0) translateZ(0);
    transition: opacity 1.5s ease 0s, transform 1.5s ease 0s;
}

.fadeRight {
    opacity: 0;
    -webkit-transform: translate(50px, 0);
    -ms-transform: translate(50px, 0);
    transform: translate(50px, 0);
}

.fadeRight.in-view {
    opacity: 1;
    transform: translateX(0) translateY(0) translateZ(0);
    transition: opacity 1.5s ease 0s, transform 1.5s ease 0s;
}

.fadePopup {
    opacity: 0;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.fadePopup.in-view {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1.5s ease 0s, transform 1.5s ease 0s;
}

a>img {
    line-height: 0;
}

p {
    padding: 0 0 20px 0;
    margin: 0;
}

a {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    color: #04a45c;
    outline: none;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #000;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-decoration: none !important;
    outline: none !important;
}

a>img {
    line-height: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

select,
button,
input {
    box-shadow: none;
    outline: none;
}

select:hover,
button:hover,
input:hover,
select:focus,
button:focus,
input:focus {
    box-shadow: none;
    outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url(images/down.svg);
    background-repeat: no-repeat;
    background-position: 95% center;
}


body.compensate-for-scrollbar{overflow:hidden}.fancybox-active{height:auto}.fancybox-is-hidden{left:-9999px;margin:0;position:absolute!important;top:-9999px;visibility:hidden}.fancybox-container{-webkit-backface-visibility:hidden;height:100%;left:0;outline:none;position:fixed;-webkit-tap-highlight-color:transparent;top:0;-ms-touch-action:manipulation;touch-action:manipulation;transform:translateZ(0);width:100%;z-index:99992}.fancybox-container *{box-sizing:border-box}.fancybox-bg,.fancybox-inner,.fancybox-outer,.fancybox-stage{bottom:0;left:0;position:absolute;right:0;top:0}.fancybox-outer{-webkit-overflow-scrolling:touch;overflow-y:auto}.fancybox-bg{background:#1e1e1e;opacity:0;transition-duration:inherit;transition-property:opacity;transition-timing-function:cubic-bezier(.47,0,.74,.71)}.fancybox-is-open .fancybox-bg{opacity:.9;transition-timing-function:cubic-bezier(.22,.61,.36,1)}.fancybox-caption,.fancybox-infobar,.fancybox-navigation .fancybox-button,.fancybox-toolbar{direction:ltr;opacity:0;position:absolute;transition:opacity .25s ease,visibility 0s ease .25s;visibility:hidden;z-index:99997}.fancybox-show-caption .fancybox-caption,.fancybox-show-infobar .fancybox-infobar,.fancybox-show-nav .fancybox-navigation .fancybox-button,.fancybox-show-toolbar .fancybox-toolbar{opacity:1;transition:opacity .25s ease 0s,visibility 0s ease 0s;visibility:visible}.fancybox-infobar{color:#ccc;font-size:13px;-webkit-font-smoothing:subpixel-antialiased;height:44px;left:0;line-height:44px;min-width:44px;mix-blend-mode:difference;padding:0 10px;pointer-events:none;top:0;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fancybox-toolbar{right:0;top:0}.fancybox-stage{direction:ltr;overflow:visible;transform:translateZ(0);z-index:99994}.fancybox-is-open .fancybox-stage{overflow:hidden}.fancybox-slide{-webkit-backface-visibility:hidden;display:none;height:100%;left:0;outline:none;overflow:auto;-webkit-overflow-scrolling:touch;padding:44px;position:absolute;text-align:center;top:0;transition-property:transform,opacity;white-space:normal;width:100%;z-index:99994}.fancybox-slide:before{content:"";display:inline-block;font-size:0;height:100%;vertical-align:middle;width:0}.fancybox-is-sliding .fancybox-slide,.fancybox-slide--current,.fancybox-slide--next,.fancybox-slide--previous{display:block}.fancybox-slide--image{overflow:hidden;padding:44px 0}.fancybox-slide--image:before{display:none}.fancybox-slide--html{padding:6px}.fancybox-content{background:#fff;display:inline-block;margin:0;max-width:100%;overflow:auto;-webkit-overflow-scrolling:touch;padding:44px;position:relative;text-align:left;vertical-align:middle}.fancybox-slide--image .fancybox-content{animation-timing-function:cubic-bezier(.5,0,.14,1);-webkit-backface-visibility:hidden;background:transparent;background-repeat:no-repeat;background-size:100% 100%;left:0;max-width:none;overflow:visible;padding:0;position:absolute;top:0;transform-origin:top left;transition-property:transform,opacity;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;z-index:99995}.fancybox-can-zoomOut .fancybox-content{cursor:zoom-out}.fancybox-can-zoomIn .fancybox-content{cursor:zoom-in}.fancybox-can-pan .fancybox-content,.fancybox-can-swipe .fancybox-content{cursor:grab}.fancybox-is-grabbing .fancybox-content{cursor:grabbing}.fancybox-container [data-selectable=true]{cursor:text}.fancybox-image,.fancybox-spaceball{background:transparent;border:0;height:100%;left:0;margin:0;max-height:none;max-width:none;padding:0;position:absolute;top:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:100%}.fancybox-spaceball{z-index:1}.fancybox-slide--iframe .fancybox-content,.fancybox-slide--map .fancybox-content,.fancybox-slide--pdf .fancybox-content,.fancybox-slide--video .fancybox-content{height:100%;overflow:visible;padding:0;width:100%}.fancybox-slide--video .fancybox-content{background:#000}.fancybox-slide--map .fancybox-content{background:#e5e3df}.fancybox-slide--iframe .fancybox-content{background:#fff}.fancybox-iframe,.fancybox-video{background:transparent;border:0;display:block;height:100%;margin:0;overflow:hidden;padding:0;width:100%}.fancybox-iframe{left:0;position:absolute;top:0}.fancybox-error{background:#fff;cursor:default;max-width:400px;padding:40px;width:100%}.fancybox-error p{color:#444;font-size:16px;line-height:20px;margin:0;padding:0}.fancybox-button{background:rgba(30,30,30,.6);border:0;border-radius:0;box-shadow:none;cursor:pointer;display:inline-block;height:44px;margin:0;padding:10px;position:relative;transition:color .2s;vertical-align:top;visibility:inherit;width:44px}.fancybox-button,.fancybox-button:link,.fancybox-button:visited{color:#ccc}.fancybox-button:hover{color:#fff}.fancybox-button:focus{outline:none}.fancybox-button.fancybox-focus{outline:1px dotted}.fancybox-button[disabled],.fancybox-button[disabled]:hover{color:#888;cursor:default;outline:none}.fancybox-button div{height:100%}.fancybox-button svg{display:block;height:100%;overflow:visible;position:relative;width:100%}.fancybox-button svg path{fill:currentColor;stroke-width:0}.fancybox-button--fsenter svg:nth-child(2),.fancybox-button--fsexit svg:first-child,.fancybox-button--pause svg:first-child,.fancybox-button--play svg:nth-child(2){display:none}.fancybox-progress{background:#ff5268;height:2px;left:0;position:absolute;right:0;top:0;transform:scaleX(0);transform-origin:0;transition-property:transform;transition-timing-function:linear;z-index:99998}.fancybox-close-small{background:transparent;border:0;border-radius:0;color:#ccc;cursor:pointer;opacity:.8;padding:8px;position:absolute;right:-12px;top:-44px;z-index:401}.fancybox-close-small:hover{color:#fff;opacity:1}.fancybox-slide--html .fancybox-close-small{color:currentColor;padding:10px;right:0;top:0}.fancybox-slide--image.fancybox-is-scaling .fancybox-content{overflow:hidden}.fancybox-is-scaling .fancybox-close-small,.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small{display:none}.fancybox-navigation .fancybox-button{background-clip:content-box;height:100px;opacity:0;position:absolute;top:calc(50% - 50px);width:70px}.fancybox-navigation .fancybox-button div{padding:7px}.fancybox-navigation .fancybox-button--arrow_left{left:0;left:env(safe-area-inset-left);padding:31px 26px 31px 6px}.fancybox-navigation .fancybox-button--arrow_right{padding:31px 6px 31px 26px;right:0;right:env(safe-area-inset-right)}.fancybox-caption{background:linear-gradient(0deg,rgba(0,0,0,.85) 0,rgba(0,0,0,.3) 50%,rgba(0,0,0,.15) 65%,rgba(0,0,0,.075) 75.5%,rgba(0,0,0,.037) 82.85%,rgba(0,0,0,.019) 88%,transparent);bottom:0;color:#eee;font-size:14px;font-weight:400;left:0;line-height:1.5;padding:75px 44px 25px;pointer-events:none;right:0;text-align:center;z-index:99996}@supports (padding:max(0px)){.fancybox-caption{padding:75px max(44px,env(safe-area-inset-right)) max(25px,env(safe-area-inset-bottom)) max(44px,env(safe-area-inset-left))}}.fancybox-caption--separate{margin-top:-50px}.fancybox-caption__body{max-height:50vh;overflow:auto;pointer-events:all}.fancybox-caption a,.fancybox-caption a:link,.fancybox-caption a:visited{color:#ccc;text-decoration:none}.fancybox-caption a:hover{color:#fff;text-decoration:underline}.fancybox-loading{animation:a 1s linear infinite;background:transparent;border:4px solid #888;border-bottom-color:#fff;border-radius:50%;height:50px;left:50%;margin:-25px 0 0 -25px;opacity:.7;padding:0;position:absolute;top:50%;width:50px;z-index:99999}@keyframes a{to{transform:rotate(1turn)}}.fancybox-animated{transition-timing-function:cubic-bezier(0,0,.25,1)}.fancybox-fx-slide.fancybox-slide--previous{opacity:0;transform:translate3d(-100%,0,0)}.fancybox-fx-slide.fancybox-slide--next{opacity:0;transform:translate3d(100%,0,0)}.fancybox-fx-slide.fancybox-slide--current{opacity:1;transform:translateZ(0)}.fancybox-fx-fade.fancybox-slide--next,.fancybox-fx-fade.fancybox-slide--previous{opacity:0;transition-timing-function:cubic-bezier(.19,1,.22,1)}.fancybox-fx-fade.fancybox-slide--current{opacity:1}.fancybox-fx-zoom-in-out.fancybox-slide--previous{opacity:0;transform:scale3d(1.5,1.5,1.5)}.fancybox-fx-zoom-in-out.fancybox-slide--next{opacity:0;transform:scale3d(.5,.5,.5)}.fancybox-fx-zoom-in-out.fancybox-slide--current{opacity:1;transform:scaleX(1)}.fancybox-fx-rotate.fancybox-slide--previous{opacity:0;transform:rotate(-1turn)}.fancybox-fx-rotate.fancybox-slide--next{opacity:0;transform:rotate(1turn)}.fancybox-fx-rotate.fancybox-slide--current{opacity:1;transform:rotate(0deg)}.fancybox-fx-circular.fancybox-slide--previous{opacity:0;transform:scale3d(0,0,0) translate3d(-100%,0,0)}.fancybox-fx-circular.fancybox-slide--next{opacity:0;transform:scale3d(0,0,0) translate3d(100%,0,0)}.fancybox-fx-circular.fancybox-slide--current{opacity:1;transform:scaleX(1) translateZ(0)}.fancybox-fx-tube.fancybox-slide--previous{transform:translate3d(-100%,0,0) scale(.1) skew(-10deg)}.fancybox-fx-tube.fancybox-slide--next{transform:translate3d(100%,0,0) scale(.1) skew(10deg)}.fancybox-fx-tube.fancybox-slide--current{transform:translateZ(0) scale(1)}@media (max-height:576px){.fancybox-slide{padding-left:6px;padding-right:6px}.fancybox-slide--image{padding:6px 0}.fancybox-close-small{right:-6px}.fancybox-slide--image .fancybox-close-small{background:#4e4e4e;color:#f2f4f6;height:36px;opacity:1;padding:6px;right:0;top:0;width:36px}.fancybox-caption{padding-left:12px;padding-right:12px}@supports (padding:max(0px)){.fancybox-caption{padding-left:max(12px,env(safe-area-inset-left));padding-right:max(12px,env(safe-area-inset-right))}}}.fancybox-share{background:#f4f4f4;border-radius:3px;max-width:90%;padding:30px;text-align:center}.fancybox-share h1{color:#222;font-size:35px;font-weight:700;margin:0 0 20px}.fancybox-share p{margin:0;padding:0}.fancybox-share__button{border:0;border-radius:3px;display:inline-block;font-size:14px;font-weight:700;line-height:40px;margin:0 5px 10px;
    min-width:130px;padding:0 15px;text-decoration:none;transition:all .2s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;white-space:nowrap}.fancybox-share__button:link,.fancybox-share__button:visited{color:#fff}.fancybox-share__button:hover{text-decoration:none}.fancybox-share__button--fb{background:#3b5998}.fancybox-share__button--fb:hover{background:#344e86}.fancybox-share__button--pt{background:#bd081d}.fancybox-share__button--pt:hover{background:#aa0719}.fancybox-share__button--tw{background:#1da1f2}.fancybox-share__button--tw:hover{background:#0d95e8}.fancybox-share__button svg{height:25px;margin-right:7px;position:relative;top:-1px;vertical-align:middle;width:25px}.fancybox-share__button svg path{fill:#fff}.fancybox-share__input{background:transparent;border:0;border-bottom:1px solid #d7d7d7;border-radius:0;color:#5d5b5b;font-size:14px;margin:10px 0 0;outline:none;padding:10px 15px;width:100%}.fancybox-thumbs{background:#ddd;bottom:0;display:none;margin:0;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar;padding:2px 2px 4px;position:absolute;right:0;-webkit-tap-highlight-color:rgba(0,0,0,0);top:0;width:212px;z-index:99995}.fancybox-thumbs-x{overflow-x:auto;overflow-y:hidden}.fancybox-show-thumbs .fancybox-thumbs{display:block}.fancybox-show-thumbs .fancybox-inner{right:212px}.fancybox-thumbs__list{font-size:0;height:100%;list-style:none;margin:0;overflow-x:hidden;overflow-y:auto;padding:0;position:absolute;position:relative;white-space:nowrap;width:100%}.fancybox-thumbs-x .fancybox-thumbs__list{overflow:hidden}.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar{width:7px}.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track{background:#fff;border-radius:10px;box-shadow:inset 0 0 6px rgba(0,0,0,.3)}.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb{background:#2a2a2a;border-radius:10px}.fancybox-thumbs__list a{-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:rgba(0,0,0,.1);background-position:50%;background-repeat:no-repeat;background-size:cover;cursor:pointer;float:left;height:75px;margin:2px;max-height:calc(100% - 8px);max-width:calc(50% - 4px);outline:none;overflow:hidden;padding:0;position:relative;-webkit-tap-highlight-color:transparent;width:100px}.fancybox-thumbs__list a:before{border:6px solid #ff5268;bottom:0;content:"";left:0;opacity:0;position:absolute;right:0;top:0;transition:all .2s cubic-bezier(.25,.46,.45,.94);z-index:99991}.fancybox-thumbs__list a:focus:before{opacity:.5}.fancybox-thumbs__list a.fancybox-thumbs-active:before{opacity:1}@media (max-width:576px){.fancybox-thumbs{width:110px}.fancybox-show-thumbs .fancybox-inner{right:110px}.fancybox-thumbs__list a{max-width:calc(100% - 10px)}}


.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 0;
}

[dir='rtl'] .slick-prev {
    right: 0;
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: 0;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: 0;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.slick-dots li {
    margin: 0;
    padding: 0;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 5px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: #fa5a34;
    opacity: 0.5;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li.slick-active button {
    opacity: 1;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
}

header.header {
    width: 100%;
    background: #fff;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

header.header.fixed {
    padding: 10px 0;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.mnutog {
    display: none;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    background-color: #222;
}

nav.nav .primary-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav.nav .primary-menu>li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
}

nav.nav .primary-menu>li>ul>li {
    position: relative;
}

nav.nav .primary-menu>li:last-child>ul {
    left: inherit;
    right: 0;
}

nav.nav .primary-menu>li>a {
    font-size: 14px;
    line-height: 1.4;
    color: #222;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav.nav .primary-menu>li.current-menu-item>a,
nav.nav .primary-menu>li.active>a,
nav.nav .primary-menu>li>a.active {
    color: #D75427;
}

nav.nav .primary-menu>li>ul {
    position: absolute;
    left: 0;
    top: 110%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    z-index: 100;
    min-width: 200px;
}

nav.nav .primary-menu>li>ul>li>ul {
    position: absolute;
    left: 102%;
    top: 110%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    z-index: 100;
    min-width: 200px;
    border-radius: 4px;
}

nav.nav .primary-menu>li>ul:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 8px 7.5px;
    border-color: transparent transparent #D75427 transparent;
    margin-left: 30px;
}

nav.nav .primary-menu>li:last-child>ul:before {
    margin-left: auto;
    margin-right: 30px;
}

nav.nav .primary-menu>li:hover>ul {
    top: 100%;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

nav.nav .primary-menu>li>ul>li:hover>ul {
    top: 20%;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

nav.nav .primary-menu>li>ul>li {
    position: relative;
    z-index: 2;
}

nav.nav .primary-menu>li>ul>li>a, nav.nav .primary-menu>li>ul>li>ul>li>a {
    padding: 10px 15px;
    color: #fff;
    display: block;
    font-size: 13px;
    background: #D75427;
    position: relative;
    z-index: 2;
    overflow: hidden;
    white-space: nowrap;
}

nav.nav .primary-menu>li>ul>li>a:after {
    position: absolute;
    content: '';
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

nav.nav .primary-menu>li>ul>li>a:hover:after {
    left: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

nav.nav .primary-menu>li>ul>li:first-child>a, nav.nav .primary-menu>li>ul>li>ul>li:first-child>a {
    border-radius: 4px 4px 0 0;
}

nav.nav .primary-menu>li>ul>li:last-child>a, nav.nav .primary-menu>li>ul>li>ul>li:last-child>a {
    border-radius: 0 0 4px 4px;
}

nav.nav .primary-menu>li>ul>li:hover>a {
    background: #D75427;
    color: #fff;
}

.mailbtn {
    display: flex;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    background-color: #D75427;
}

.callbtn {
    display: flex;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    background-color: #00ADF1;
}

.homeslider .slick-arrow {
    height: 40px;
    width: 40px;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .15);
}

.homeslider .slick-arrow:before {
    display: none;
}

.homeslider .slick-prev {
    background-image: url(../images/right.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 8px auto;
}

.homeslider .slick-next {
    background-image: url(../images/left.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 8px auto;
}

.bnrbtninfo {
    position: absolute;
    bottom: -36px;
    left: 0;
    width: 100%;
}

.title1 {
    font-size: 45px;
    color: #222222;
    padding-bottom: 10px;
    position: relative;
}

.title1:after {
    position: absolute;
    left: 0;
    width: 100px;
    height: 5px;
    bottom: 0;
    content: '';
    background-color: #D75427;
}

.title1.text-center:after {
    left: 50%;
    transform: translateX(-50%);
}

.title1.text-white:after {
    background-color: #fff;
}

.title2sec h2 {
    font-size: 45px;
    color: #222222;
}

.title2sec small {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    letter-spacing: 1px;
    color: #D75427;
    font-weight: 700;
    text-transform: uppercase;
}

.title2sec small:after {
    content: '';
    display: block;
    height: 3px;
    width: 100px;
    background-color: #D75427;
}

.btnred {
    padding: 10px 30px;
    border-radius: 30px;
    color: #fff;
    background-color: #D75427;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btnred:hover {
    color: #fff;
    letter-spacing: 1px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.linheight2 {
    line-height: 2;
}

.rounded-lg {
    border-radius: 10px;
}

.testimonial-message {
    margin-bottom: 10px;
}

.testimonial-message p {
    width: 100%;
    height: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.homeprodthmbbg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 85%;
}

.homeprodthmbwrp {
    position: relative;
    z-index: 2;
}

.homeproductwrp>.row:nth-child(even) {
    flex-direction: row-reverse;
}

big {
    color: #222;
    font-size: 20px;
    font-weight: 500;
}

.text-orange {
    color: #fa5a34;
}

.clientslogo {
    height: 150px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, .15);
}

.clientslogo img {
    min-width: 100px;
    max-width: 200px;
}

.countico {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    height: 65px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countsec {
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
}

.countsecwrp h2 {
    line-height: 1.6;
}

.clientslogoslider .slick-arrow,
.testislider .slick-arrow {
    height: 40px;
    width: 40px;
    background-color: #D75427;
    z-index: 10;
    border-radius: 100%;
    transform: none;
    top: -60px;
}

.clientslogoslider .slick-arrow:before,
.testislider .slick-arrow:before {
    display: none;
}

.clientslogoslider .slick-prev,
.testislider .slick-prev {
    background-image: url(../images/white-left.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 8px auto;
    left: inherit;
    right: 60px;
}

.clientslogoslider .slick-next,
.testislider .slick-next {
    background-image: url(../images/white-right.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 8px auto;
    right: 10px;
}

.homeprodcon {
    position: relative;
    z-index: 3;
}

.testiimg {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    overflow: hidden;
}

.testiimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testicon h3 {
    font-size: 16px;
}

.ftrtop {
    background-color: #222;
    color: #fff;
    font-size: 13px;
}

.ftrtop h3 {
    font-size: 18px;
    color: #fff;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.ftrtop h3:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 50px;
    background-color: #fff;
}

.ftrbtm {
    background-color: #222222;
}

.ftrbtm a,
.ftrbtm {
    color: #fff;
    font-size: 12px;
}

.ftrbtm a:hover,
.ftrtop a:hover {
    color: #D75427 !important;
}

.ftrmnu a {
    color: #fff;
}

.ftrmnu li {
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.contactsec {
    position: relative;
    z-index: 2;
}

.contactsec:after {
    left: -200px;
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    height: 100%;
    width: 40%;
    background-color: rgba(0, 173, 241, 0.8);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.leftSlide.in-view.contactsec:after {
    left: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.contactico {
    min-height: 40px;
    min-width: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactfiledwrp {
    line-height: 1.4;
}

.socblack a {
    min-height: 40px;
    min-width: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socblack a svg,
.socred a svg,
.contactfiledwrp a svg {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.socblack a:hover svg,
.socred a:hover svg,
.contactfiledwrp a:hover svg {
    transform: scale(1.2);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.socred a {
    min-height: 40px;
    min-width: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 100%;
    background-color: #D75427;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subsfrm .form-control {
    box-shadow: none !important;
    height: 30px;
    min-height: 35px;
    font-size: 12px;
    border-radius: 30px;
}
.subsbtn {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    padding: 5px 15px;
    border-radius: 30px;
    color: #fff;
    background-color: #D75427;
    display: inline-flex;
    height: 35px;
    align-items: center;
}
.scrollclk {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#mouse-scroll span {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin: 0 0 3px 5px;
}
#mouse-scroll .mouse {
    height: 21px;
    width: 14px;
    border-radius: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid #fff;
    top: 170px;
}
#mouse-scroll .down-arrow-1 {
    margin-top: 6px;
}
#mouse-scroll .down-arrow-1,
#mouse-scroll .down-arrow-2,
#mouse-scroll .down-arrow-3 {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
}
#mouse-croll .down-arrow-1 {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    animation-delay: .1s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    animation-delay: .2s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
    -webkit-animation-delay: .3s;
    -moz-animation-dekay: .3s;
    animation-delay: .3s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
#mouse-scroll .mouse-in {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: #fff;
    position: relative;
}
#mouse-scroll .mouse-in {
    -webkit-animation: animated-mouse 1.2s ease infinite;
    -moz-animation: mouse-animated 1.2s ease infinite;
    animation: animated-mouse 1.2s ease infinite;
}
@-webkit-keyframes animated-mouse {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}
@keyframes animated-mouse {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}
@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
.breadcrumb a, .breadcrumb{
    color: #fff;
}
.breadcrumb li.active{
    color: #00ADF1;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #ffffff;
}
.howmuchimg:after{
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	width:30px;
	content:'';
	background-image:url(../images/sdfsdf.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.howmuchsec{
	background-image:url(../images/ZSdfsdf-min.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.howmuch ul li{
    margin-bottom: 10px;
    padding-left: 25px;
    position: relative;
}
.howmuch ul li:before{
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    height: 20px;
    width: 20px;
    background-image:url(../images/point.svg);
	background-repeat:no-repeat;
	background-size:20px auto;
}
.serviceBox{
    color: #fff;
    background: #D75427;
    text-align: center;
    padding: 0 0 55px;
    margin: 0 auto;
    position: relative;
}
.serviceBox:after{
    content: "";
    background: #fff;
    width: 15px;
    height:15px;
    transform: translateX(-50%) rotate(45deg);
    position: absolute;
    bottom: 18px;
    left: 50%;
}
.serviceBox .service-icon{
    background: #D75427;
    font-size: 60px;
    padding: 20px 0;
    margin: 0 0 60px;
    border-bottom: 15px solid #fff;
    position: relative;
}
.serviceBox .service-icon:before,
.serviceBox .service-icon:after{
    content: "";
    background: linear-gradient(to top left, #fff 49%, transparent 50%);
    width: 50px;
    height: 50px;
    transform: translateX(-50%) rotate(45deg);
    position: absolute;
    bottom: -39px;
    left: 50%;
}
.serviceBox .service-icon:after{
    background: #D75427;
    width: 45px;
    height: 45px;
    bottom: -21px;
}
.serviceBox .title{
    font-size: 20px;
    color: #fff;
    min-height: 48px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0 15px 15px;
}
.serviceBox .description{
    font-size: 13px;
    letter-spacing: 0.5px;
    margin: 0 15px;
    padding: 0;
    min-height: 103px;
}
.blogthmb h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.blgthmbcon{
    font-size: 14px;
}
.readmorebtn{
    color: #D75427;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
.readmorebtn:hover{
    letter-spacing: 2px;
    color: #D75427;
}
.sidebar a{
    font-size: 14px;
    color: #222;
}
.sidebar ul li{
    margin-bottom: 5px;
    padding-left: 17px;
    position: relative;
}
.sidebar ul li:before{
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    height: 13px;
    width: 13px;
    background-image:url(../images/point.svg);
	background-repeat:no-repeat;
	background-size:13px auto;
}
.sidebar .card-header{
    color: #222;
}
.contactinffo span{
    min-height: 60px;
    min-width: 60px;
    max-height: 60px;
    max-width: 60px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid #fff;
}
.contactinffo a{
    font-size: 18px;
    color: #fff;
    font-weight: 300;
}

.card__img  {
    position: relative;
}
.card__img::before {
    content: "";
    width: 100%;
    left: 0;
    top:0;
    position: absolute;
    background-color: #00000016;
    height: 100%;
    z-index: 999;
}

.card__three::before, .card__three::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform 0.3s ease-out 0s;
    background: rgba(255, 255, 255, .1);
    content: '';
    pointer-events: none;
}
.card__three::before {
    transform-origin: left top;
}
.card__three::after {
    transform-origin: right bottom;
}
.card__three:hover::before, .card__three:focus::before, .card__three:hover::after, .card__three:focus::after {
    transform: scale3d(1, 1, 1);
}
.produccatbox, .produccatbox img  {
   transition: all 400ms;
}
.produccatbox:hover img {
    transform: scale(1.2) rotate(3deg);
}
.produccatbox h3 {
    font-size: 17px;
    transition: all 400ms;
}
.produccatbox:hover h3 {
    color: #fa5a34;
    letter-spacing: 0.3px;
}
.produccatbox {
    box-shadow: 0px 0px 10px #eaeaea;
}
.productdtlbox, .productdtlbox img {
   transition: all 400ms;
}
.productdtlbox img {
    transform: scale(1.1);
}
.productdtlbox:hover img {
    transform: scale(1);
}
/* .productdtlbox {
    box-shadow: 0px 0px 10px #eaeaea;
} */
.homesliderinr {
    background-size: cover; 
    background-repeat: no-repeat; 
    position: relative;
    z-index: 1;
    min-height: 500px;
    padding: 150px 0;
}
.innerpagebanner {
    z-index: 1;
    background-position: bottom;
    background-attachment: fixed;
}
.innerpagebanner h1 {
    color: #fff;
}
.homesliderinr::before , .innerpagebanner::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0000003e;
    z-index: -1;
    position: absolute;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
.hmslidertxt h2 {
    color: #fff;
}

.homeslider .slick-dots {
    bottom: 50px;
}
.homeslider .slick-dots li button {
    background: #fff;
}
.glrythmb img, .glrythmb  {
    transition: all 400ms;
    overflow: hidden;
}
.glrythmb:hover img {
    transform: scale(1.05);
}



@media only screen and (min-width: 992px) and (max-width:1169px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .contactsec:after {
        width: 55%;
    }
}

@media screen and (max-width: 991px) {
    nav.nav {
        position: fixed;
        right: 100%;
        width: 100%;
        top: 0;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        z-index: 999;
        display: flex;
        width: 100%;
        height: 100%;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    header.header.active nav.nav {
        right: 0;
    }

    nav.nav .menu-main-menu-container {
        width: 310px;
        background: #fff;
        height: 100%;
        overflow: auto;
    }

    nav.nav .mnucls {
        background: rgba(0, 0, 0, 0.6);
        width: calc(100% - 310px);
        height: 100%;
        display: block;
    }

    nav.nav .primary-menu {
        display: block;
        height: 100%;
        padding-top: 30px;
    }

    nav.nav .primary-menu>li {
        display: block;
        margin: 0;
    }

    nav.nav .primary-menu>li>img {
        display: none;
    }

    nav.nav .primary-menu>li>a {
        margin: 0;
        font-size: 13px;
        font-weight: 500;
        padding: 10px 15px;
        display: block;
        color: #000;
    }

    nav.nav .primary-menu>li>ul {
        position: static;
        opacity: 1;
        visibility: visible;
        box-shadow: none;
        margin-left: 10px;
        margin-right: 10px;
    }

    nav.nav .primary-menu>li>ul>li a {
        padding-left: 15px;
    }

    nav.nav .primary-menu>li:last-child>ul:before {
        margin-left: 30px;
        margin-right: inherit;
    }

    .mnutog {
        display: flex;
        color: #fff;
    }
    h4 {
        font-size: 18px;
    }
    h3 {
        font-size: 20px;
    }

    h2 {
        font-size: 25px;
    }

    h1 {
        font-size: 35px;
    }
    body {
        line-height: 1.5;
        font-size: 15px;
    }
    .bnrbtninfo .h5 {
        font-size: 1rem;
    }
    .title1, .title2sec h2 {
        font-size: 25px;
    }
    .title2sec small:after {
        height: 2px;
        width: 50px;
    }
    .btnred {
        padding: 10px 22px;
    }
    .btnred svg {
        width: 18px!important;
        height: 18px!important;
    }
    nav.nav .primary-menu>li>ul>li>ul {
        position: static!important;
        /* padding-left: 20px; */
        left: 0;
        visibility: visible!important;
        opacity: 1!important;
        border-radius: 0;
    }
    nav.nav .primary-menu>li>ul>li>ul>li a{
        padding-left: 30px;
    } nav.nav .primary-menu>li>ul>li>ul>li:first-child>a {
        border-radius: 0px 0px 0 0;
    } nav.nav .primary-menu>li>ul>li>ul>li:last-child>a {
        border-radius: 0 0 0px 0px;
    }
    
}

@media screen and (max-width: 767px) {
    .homeprodthmbbg {
        width: 65%;
    }
    body {
        line-height: 1.4;
        font-size: 14px;
    }
    big {
        font-size: 120%;
        font-weight: 300;
    }
    .logo img {
        width: 65px;
    }
    header.header {
        padding: 15px 0;
    }
    .mailbtn, .callbtn, .mnutog {
        height: 40px;
        width: 40px;
    }
    .bnrbtninfo .h5 {
        font-size: 0.8rem;
    }
    .title1, .title2sec h2 {
        font-size: 25px;
    }
    .title2sec small {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .clientslogoslider .slick-arrow, .testislider .slick-arrow {
        height: 35px;
        width: 35px;
        top: -56px;
    }
    .testiimg {
        min-height: 50px;
        max-height: 50px;
        min-width: 50px;
        max-width: 50px;
    }
    .testicon h3 {
        font-size: 12px;
    }
    .clientslogo {
        height: 120px;
        padding: 10px;
    }
    .contactsec:after {
        width: 85%;
    }
    .serviceBox .service-icon:before {
        bottom: -38px;
    }
    .contactinffo a {
        font-size: 15px;
    }
    .contactinffo span {
        min-height: 45px;
        min-width: 45px;
        max-height: 45px;
        max-width: 45px;
        border: 2px solid #fff;
    }
    .homesliderinr {
        background-position: bottom;
    }
}